/*
    Name: Mark Erolle D. Quiambao
	Section: WD-201
	Website Name: Art Capsul
	Started: November 19,2023
	Date of Submission:  NOvember 17, 2023
*/
.container{
    margin-top: 12px;
    background-image: linear-gradient(to right, rgba(255,165,0,0.3),rgba(0,0,0,0.1)), url(../img/websiteimg/Background5.jpg);
    background-size: cover;
    background-repeat: none;
    background-position: center;

}
.container-mobile{
    display: none;
}

.tittle{
    margin-left: 22%;
    width: 800px;
    height: 900px;
    text-align: center;   
}

.info-sign{
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    bottom: 0;
    width: auto;
    height: 40vh;
    padding: 20px;
    color: white;
}

label {
    display: block;
    padding-top: 3%;
}
.banner{
    font-size: 30px;
    text-align: left;
    margin-left: 22%;
}

.box{
    width: 390px;
    font-size: 15px;
    border-radius: 15px;
    padding-left: 10px;
}

legend{
    font-size: 40px;
}

.apply {
    box-shadow: 0 0 5px rgba(0,0,0,0.15);
    padding: 10px;
    width: 280px;
    border-radius: 20px;
    font-size: 18px;
    margin-top: 30px;
}
.container-mobile{
    display: none;
}
.tittle-mobile{
    display: none;
}
.info-sign-mobile{
    display: none;
}
/* Media Viewport for Tablet */
@media screen and (max-width: 450px){
    .container{
        display: none;
    }
    .tittle{
        display: none;
    }
    .info-sign{
        display: none;
    }
}
@media screen and (max-width: 825px){
   

}

@media screen and (max-width: 960px){
    .info-sign{
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        bottom: 0;
        width: auto;
        height: 40vh;
        padding: 20px;
        color: white;
    }
    .banner{
        font-size: 30px;
        text-align: left;
        margin-left: 4%;
    }
}

@media screen and (max-width: 1030px) {
    .info-sign{
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        bottom: 0;
        width: auto;
        height: 40vh;
        padding: 20px;
        color: white;
    }
    .banner{
        font-size: 30px;
        text-align: left;
        margin-left: 4%;
    }

}
