:root{
    /* Font Color */
    --default-font-color: #eae9e9;
    --second-font-color: #000000;
    /* Button Color */
    --button-color: #2A4FFF;
    --inside-container-font-color: #889CFA;
}


*{
    margin: 0;
    padding: 0;
}

/* Navbar */
header{
    display: flex;
    justify-content: space-between;
    padding: 2%;
}

nav ul, li, a{
    display: flex;
    text-decoration: none;
    color: var(--second-font-color);
}

nav li{
    display: inline-block;
}

nav a, .Active{
    padding: 0 40px;
}


.Active{
    color: var(--second-font-color);
    background-color: var(--inside-container-font-color);
    padding: 0 12%;
    width: 100%;
}

/* Home page */

/* About page */

/* Table View port */

/* Mobile view port*/
